.cb-item-full-width {
  margin-left: -20vw !important;
  width: 100vw;
}

.annotator-adder {
  background-image: none !important;
  background-color: #ff570c;
  border-radius: 50%;
}

.annotator-adder button {
  display: none;
  background-color: #ff570c;
}