$commonViewBgColor: #ededf0;
$commonViewBgImg: "img/frontpage_header_pattern.png";
$secondaryViewBgColor: #ffffff;

$cloubi-navbar-height: 5.0rem;

//$cloubi-primary-color: green;

// .cb-button {
//   &.primary {
//     background-color: blue;
//   }
//   &.default {
//     background-color: blue;
//   }
// }
