@import url('https://use.fontawesome.com/releases/v5.0.13/css/all.css');

$commonViewBgColor: #ededf0;
$secondaryViewBgColor: #ffffff;

@import '_content';

html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: $commonViewBgColor;
}

.cloubi-navigation-menu-page {
    border-radius: 2em;
}

.cloubi-navigation-menu-page-image {
    border-radius: 1em;
    margin: 10px;
}

.breadcrump-container {
    display: inline-block;
}


@media (max-width: 760px) {
  .cb-page-turner-container {
    display: none;
  }
}
